.admin-depart-management {
    width: 100%;
    max-width: 1200px;

    margin: 0;
    /* 중앙 정렬 제거 */
}

.admin-depart-header {
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
    border-bottom: 1.4px solid #e6e6e6;
    text-align: left;
    font-size: 18px;
    font-family: 'NanumSquareNeoBold', sans-serif;
}

.admin-set-depart-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.admin-set-depart-wrapper {
    position: relative;
    padding-top: 35px;
    padding-left: 15px;
}

.admin-set-depart-title {
    position: absolute;
    top: 0;
    left: 15px;
    background-color: white;
    padding: 0 5px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #545a61;
    font-family: 'NanumSquareNeoBold', sans-serif;
    z-index: 1;
}

.admin-set-depart-section {
    padding: 20px;
}

.admin-set-depart-content {
    overflow-x: auto;
    border: 1.35px solid #e6e6e6;
    border-radius: 4px;
    width: 900px;
    /* 표 너비 고정 */
}

.admin-depart-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

/* 커스텀 체크 아이콘 */
.custom-checkbox {
    width: 17px;
    height: 17px;
    border: 1.5px solid #cccccc;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-checkbox.checked {
    background-color: #5f7daf;
    border-color: #5f7daf;
}

.check-icon {
    color: #f7f7f7;
    font-size: 16px;
}


.admin-depart-table th,
.admin-depart-table td {
    padding: 9.5px;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
    font-size: 13px;
    font-family: 'NanumSquareNeoBold', sans-serif;
}

.admin-depart-table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.admin-depart-actions-row td {
    border-bottom: none;
}

.admin-depart-actions {
    display: flex;
    justify-content: space-between;
    padding: 6px 8px 6px 10px;
    border-top: 0px solid #e6e6e6;
}

.admin-depart-actions-left,
.admin-depart-actions-right {
    display: flex;
    gap: 8px;
}

.admin-depart-button {
    padding: 4px 10px;
    background-color: #8d8c8c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-family: 'NanumSquareNeoBold', sans-serif;
}


.admin-depart-button:hover {
    background-color: #454545;
}

.admin-depart-button.save-button {
    background-color: white;
    color: #7b7b7b;
    border: 1px solid #7b7b7b;
}

.admin-depart-button.save-button:hover {
    background-color: #f0f0f0;
}

/* 모달창 스타일 */
.MuiModal-root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MuiPaper-root {
    background-color: white;
    padding: 10px;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 입력 필드 컨테이너 */
.input-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* 버튼 컨테이너 */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

