.cert-title {
    font-family: 'NanumSquareNeoLight', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
    color: #535353;
    padding-bottom: 1.2rem;
    padding: 26px;
}

.cert-detail-header {
    font-family: 'NanumSquareNeoBold', sans-serif;
    text-align: left;
    width: 100%;
    color: #575f44;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 69px;
    border-bottom: 1px solid #575f44;
  }