.cert-title {
    font-family: 'NanumSquareNeoLight', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
    color: #535353;
    padding-bottom: 1.2rem;
    padding: 26px;
}